@charset "utf-8";
body {
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
    background-size: 100%;
}
#blackbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 22;
}
#deviceready{
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    /*background: url('http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/bg.jpg');*/
}
#mainbox{
    width: 1280px;
    position: absolute;
    top:0px;
    left:0px;
    /*display: none;*/

    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#adStation{
    position: absolute;
    top: 0px;
    left: 32px;
    width: 202px;
    height: 66px;
    background-size: 100%;
}
#topMain{
    width: 1280px;
    height: 50px;
    position: relative;
    top:0;
    left:0;
    background-color: skyblue;
    text-align: right;
}
.topbtn{
    height: 50px;
    width:90px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: pink;
}
#allowanceBtn{

}
#gameBox{
    width: 1280px;
    height: 600px;
    background-color: BLACK;
    overflow: hidden;
    position: relative;
    top:0px;
    left: 0;
}
#gamePanel{
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#gameMap{
    width: 1280px;
    height: 580px;
    background-color: lightgreen;
    margin-top: 10px;
    position: absolute;
    left:0;
}
#mapBtn{
    width: 300px;
    height: 50px;
    background-color: pink;
    position: absolute;
    top: 480px;
    left:800px;
}
#gameDraw{
    width: 1280px;
    height: 580px;
    background-color: lightblue;
    margin-top: 10px;
    position: absolute;
    left: 1280px;
    display: none;
}
#drawBtn{
    width: 300px;
    height: 50px;
    background-color: pink;
    position: absolute;
    top: 480px;
    left:800px;
}

#missionList{
    width: 1280px;
    height: 200px;
    background-color: cornflowerblue;
    font-size: 0;
}
.mission{
    display: inline-block;
    width: 300px;
    height: 180px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#payZone{
    width: 1280px;
    height:600px;
    background-color: darkslategrey;
    font-size: 0;
}
.operationmap {
    width: 300px;
    height: 180px;
    background: skyblue;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#allowanceGet {
    width: 620px;
    height: 180px;
    /*background: white;*/
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}







.btnFocus,#mapBtn.btnFocus,#drawBtn.btnFocus{
    background-color: red;
}

#rulePage{
    width:1280px;
    height:720px;
    overflow: hidden;
    display: none;
}
#ruleInner{
    width: 1280px;
    height: 720px;
    position: absolute;
    top:0px;
    left:0px;
    overflow: auto;
}
.rule{
    width: 1280px;
    background-size: 100%;
}
#needUpdate{
    width: 1280px;
    height:720px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: none;
    z-index: 5;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/needup.png");*/
}


@keyframes myfirst1
{
    0%   {opacity:1;top:484px;display: none;}
    1%   {opacity:1;top:484px;display: block;}
    25%  {opacity:0.4;top:469px; display: block;}
    50%  {opacity:0.3;top:454px; display: block;}
    75%  {opacity:0.2;top:439px; display: block;}
    100% {opacity:0.1;top:424px;display: none}
}
@-webkit-keyframes myfirst1
{
    0%   {opacity:1;top:484px;display: none;}
    1%   {opacity:1;top:484px;display: block;}
    25%  {opacity:0.4;top:469px; display: block;}
    50%  {opacity:0.3;top:454px; display: block;}
    75%  {opacity:0.2;top:439px; display: block;}
    100% {opacity:0.1;top:424px;display: none}
}

/*.coocaabtn.btnFocus:not(.topbtn):not(.banner):not(.finishWindowBtn){*/
    /*border: 4px solid #d900ff;*/
    /*!*border-image-source:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border.png");*!*/
    /*!*border-image-slice:8;*!*/
    /*!*border-image-width:2;*!*/
    /*!*border-image-repeat:round;*!*/
    /*-webkit-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Safari 5 *!*/
    /*-o-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Opera *!*/
    /*-ms-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Opera *!*/
    /*-moz-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Opera *!*/
    /*border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round;*/

    /*background-size: 100%;*/

    /*padding: 0px;*/
    /*opacity: 1;*/
    /*!*box-shadow: 0px 0px 0px 0px black;*!*/
    /*!*box-shadow:0px 10px 25px rgba(0,0,0,0.5);*!*/
    /*box-shadow:0px 0px 45px rgba(0,0,0,0.8);*/
    /*transform: scale(1.08, 1.08);*/
    /*-ms-transform: scale(1.08, 1.08);*/
    /*!* IE 9 *!*/
    /*-webkit-transform: scale(1.08, 1.08);*/
    /*!* Safari 和 Chrome *!*/
    /*-o-transform: scale(1.08, 1.08);*/
    /*!* Opera *!*/
    /*-moz-transform: scale(1.08, 1.08);*/
    /*z-index: 2;*/
/*}*/


img[src='']{
    visibility: hidden;
}












