@charset "utf-8";
body {
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
    background-size: 100%;
}
#blackbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 22;
}
#deviceready{
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    /*background: url('http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/bg.jpg');*/
}
#mainbox{
    width: 1280px;
    position: absolute;
    top:0px;
    left:0px;
    /*display: none;*/

    /*transition:all 0.2s;*/
    /*-moz-transition:all 0.2s;*/
    /*-webkit-transition:all 0.2s;*/
}
#adStation{
    position: absolute;
    top: 0px;
    left: 32px;
    width: 202px;
    height: 66px;
    background-size: 100%;
}

#activityTime{
    position: absolute;
    top:38px;
    left:40px;
    width: 185px;
    height: 23px;
    background-size: 100%;
    background-image:url('http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/activityTime.png') ;
}
#rulePage{
    width:1280px;
    height:720px;
    overflow: hidden;
    display: none;
}
#ruleInner{
    width: 1280px;
    height: 720px;
    position: absolute;
    top:0px;
    left:0px;
    overflow: auto;
}
.rule{
    width: 1280px;
    background-size: 100%;
}
#needUpdate{
    width: 1280px;
    height:720px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: none;
    z-index: 5;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/needup.png");*/
}

#toplogo{
    width: 423px;
    height: 91px;
    position: absolute;
    top:7px;
    left:81px;
    background-image:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/toplog.png");;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/toplog.png");*/
}
.finger{
    position: fixed;
    display: none;
    width: 111px;
    height: 111px;
}
.btnFocus .finger{
    display: block;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/finger.gif");
}
.topbtn{
    position: absolute;
    top:14px;
    height:78px;
}
.onfocus{
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.btnFocus .onfocus{
    display: block;
}
#allowance{
    left:1211px;
    width: 317px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/allowance1.png");
}
#allowance .onfocus{
    width: 317px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/allowancefocus.png");
}
#allowance .finger{
    top: 57px;
    left: 1416px;
}
#allowanceNum{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff1b8;
    text-align: center;
    width: 75px;
    position: absolute;
    top: 25px;
    left: 151px;
}
#mygift{
    left:1527px;
    width: 193px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/mygift1.png");
}
#mygift .finger{
    top: 57px;
    left: 1607px;
}
#mygift .onfocus{
    width: 193px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/mygiftfocus.png");
}
#rule{
    left:1719px;
    width: 193px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/rule1.png");
}
#rule .finger{
    top: 57px;
    left: 1798px;
}
#rule .onfocus{
    width: 193px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/rulefocus.png");
}
#missionBtn{
    position: absolute;
    top:409px;
    left: 69px;
    width: 237px;
    height:96px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/missionbtnfinal.png");
}
#missionBtn .finger{
    top: 440px;
    left: 246px;
}
#missionBtn .onfocus{
    width: 237px;
    height:96px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/missionbtnfocusfinal.png");
}
#missionImg{
    width: 336px;
    height:232px;
    position: absolute;
    top:208px;
    left:17px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/missionimg1.gif");
}
#overChance{
    position: absolute;
    top:392px;
    left: 678px;
    width: 565px;
    height:135px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/overchancefinal.png");
}
#overChance .finger{
    top: 432px;
    left: 1110px;
}
#overChance .onfocus{
    width:565px;
    height:135px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/overchancefocusfinal.png");
}
#moveChace{
    position: absolute;
    top:484px;
    left:1180px;
    font-size: 32px;
    color: #fbed4f;
    font-weight: bolder;
    display: none;
}
#moveChace.showmove{
    animation: myfirst1 1.5s linear 0s 1 ;
    /* Firefox: */
    -moz-animation: myfirst1 1.5s linear 0s 1 ;
    /* Safari 和 Chrome: */
    -webkit-animation: myfirst1 1.5s linear 0s 1 ;
    /* Opera: */
    -o-animation: myfirst1 1.5s linear 0s 1 ;
}
@keyframes myfirst1
{
    0%   {opacity:1;top:484px;display: none;}
    1%   {opacity:1;top:484px;display: block;}
    25%  {opacity:0.4;top:469px; display: block;}
    50%  {opacity:0.3;top:454px; display: block;}
    75%  {opacity:0.2;top:439px; display: block;}
    100% {opacity:0.1;top:424px;display: none}
}
@-webkit-keyframes myfirst1
{
    0%   {opacity:1;top:484px;display: none;}
    1%   {opacity:1;top:484px;display: block;}
    25%  {opacity:0.4;top:469px; display: block;}
    50%  {opacity:0.3;top:454px; display: block;}
    75%  {opacity:0.2;top:439px; display: block;}
    100% {opacity:0.1;top:424px;display: none}
}
#chanceNum{
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #fbdf57;
    position: absolute;
    top: 67px;
    left: 255px;
    width: 36px;
    text-align: center;
    font-weight: bolder;
}
#myCard{
    position: absolute;
    top:738px;
    left: 831px;
    width: 237px;
    height:96px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/mycard1.png");
}
#myCard .finger{
    top: 760px;
    left: 1018px;
}
#myCard .onfocus{
    width:237px;
    height:96px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/mycardfocus.png");
}
#buyZoneBtn{
    position: absolute;
    top:409px;
    left: 1611px;
    width: 237px;
    height:96px;
    display: none;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/buyzonefinal.png");
}
#buyZoneImg{
    position: absolute;
    top:207px;
    left: 1558px;
    width: 336px;
    height:232px;
    display: none;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/buyzoneimg2.gif");
}
.wantcard{
    width: 90px;
    height: 120px;
    position: absolute;
    top: 72px;
    left:16px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.wanticon{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90px;
    height: 120px;
}
#iwant{
    left:228px;
}
/*#iwant .wanticon{*/
/*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/qiuka.png");*/
/*}*/
/*#otherwant .wanticon{*/
/*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/chuka.png");*/
/*}*/
#otheruserinfo{
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    width: 163px;
    position: absolute;
    top: 9px;
    left: 85px;
    color: #fff1b8;
}
#buyZoneBtn .finger{
    top: 440px;
    left: 1787px;
}
#buyZoneBtn .onfocus{
    width:237px;
    height:96px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/buyzonefocusfinal.png");
}

#fakeNews{
    width: 418px;
    height: 40px;
    position: absolute;
    top:28px;
    left:303px;
    line-height: 40px;
    font-size: 20px;
    color: #fff7d4;
    font-weight: bolder;
    text-align: center;
    overflow: hidden;
    /*border: 1px solid white;*/
}
#fakeNewsul{
    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}

#fakeNewsul li{
    height: 40px;
    line-height: 40px;
}

#topBanner{
    width: 1280px;
    height: 931px;
    position: relative;
    right:0px;
    top: 0px;
    background-size: 100%;
}
.bgdiv{
    position: absolute;
    top:0;
    left:0;
    width: 1280px;
    height:1680px;
    z-index: -1;
    display: none;
}
#normalbg{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/normalfinal.jpg");
}
#closebg{
    display: block;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/closefinal.jpg");
}
#stopbg{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/newstopBg4.jpg");
}
#arrows{
    position: absolute;
    top:981px;
    left:0;
    right:0;
    margin: auto;
    width: 80px;
    height: 80px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/arrows.png");
}
#finishAct{
    width: 1280px;
    height:720px;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
}
#youhave{
    width: 1280px;
    height: 2035px;
    position: absolute;
    top:0;
    left:0;
    display: none;
    /*background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/youhavetest1.jpg") ;*/
}
#finishMyAwardNum {
    width: 240px;
    height: 60px;
    position: absolute;
    top: 369px;
    left: 841px;
    font-weight: bolder;
    font-size: 60px;
    line-height: 60px;
    color: #ffef38;
    text-align: center;
}
#youhave .coocaabtn{
    /*width: 264px;*/
    /*height:117px;*/
    position: absolute;
}
#finishMyAwardGet{
    width: 139px;
    height:139px;
    top:534px;
    left:891px;
    /*background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/finishMyAwardGet1.png") ;*/
}
#finishMyAwardGet.btnFocus{
    /*background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/finalbtn2focus.png") ;*/
}
#finishMyAwardBtn{
    top:1684px;
    left:845px;
    width: 213px;
    height:81px;
    background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/finalbtn1focus.png") ;
}
#finishMyAwardBtn.btnFocus{
    /*background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/finalbtn1focus.png") ;*/
}
#younothave{
    display: none;
    width: 1280px;
    height:720px;
    position: absolute;
    top:0;
    left:0;
    /*background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/younothavetest2.jpg") ;*/
}
.finishNum{
    font-size: 48px;
    color: #fd341c;
    font-weight: bolder;
    width: 200px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
}
#finishNum1{
    top: 1621px;
    left: 763px;
    width: 175px;
}
#finishNum2{
    top: 836px;
    left: 768px;
    width: 175px;
}
#finishMyAward{
    width: 218px;
    height:81px;
    position: absolute;
    top:938px;
    left:845px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/index/finalbtn1focus.png") ;
}
.worldTitle{
    width: 1280px;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    position: absolute;
    top:352px;
}
.worldTitle span{
    color: #fbed4f;
}
#cutdown{
    height: 30px;
    line-height: 30px;
    font-size: 30px;
}
#hasown{
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    top:822px;
    color: #fff4e9;
    letter-spacing: 2px;
}
.foca{
    height: 174px;
    width: 141px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:601px;
}
#foca1{
    left: 528px;
}
#foca2{
    left: 695px;
}
#foca3{
    left: 1087px;
}
#foca4{
    left: 1254px;
}
.foca span{
    display: block;
    position: absolute;
    top: 10px;
    right: 13px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bolder;
}
.specialfoca{
    width: 161px;
    height:199px;
    position: absolute;
    top:530px;
    left:879px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.specialfoca span{
    display: block;
    position: absolute;
    top: 10px;
    right: 13px;
    font-size: 19px;
    color: #ffffff;
    font-weight: bolder;
}
#street{
    width: 1280px;
    height:1680px;
    position: relative;
    left:0px;
    right: 0;
    top:-1px;
    margin: auto;
    padding-top: 103px;
    padding-left: 0px;
    background-size: 100%;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/underBg2.jpg");*/
}
.panel{
    width: 1280px;
    height:335px;
    margin-bottom: 50px;
    padding-left: 58px;
}
.block{
    height: 351px;
    width:506px;
    margin-left: 10px;
    margin-right: 10px;
    /*background-color: white;*/
    display: inline-block;
    padding: 8px;
    position: relative;
    background-size: 100%;
}
.blockimg{
    height: 327px;
    width:482px;
    margin: 4px;
    background-size: 100%;
    position: relative;
}
.panel .block:nth-child(1){
    margin-left: -10px;
    width:726px;
}
.panel .block:nth-child(1) .blockimg{
    margin-left: 16px;
    width:702px;
}
.panel .block:nth-child(1) .couponDiv{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/couponbg.png");
}
.couponDiv{
    width: 286px;
    height:32px;
    line-height: 32px;
    position: absolute;
    bottom: 12px;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: none;
}
.coocaabtn.btnFocus:not(.topbtn):not(.banner):not(.finishWindowBtn){
    border: 4px solid #d900ff;
    /*border-image-source:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border.png");*/
    /*border-image-slice:8;*/
    /*border-image-width:2;*/
    /*border-image-repeat:round;*/
    -webkit-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; /* Safari 5 */
    -o-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; /* Opera */
    -ms-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; /* Opera */
    -moz-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; /* Opera */
    border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round;

    background-size: 100%;

    padding: 0px;
    opacity: 1;
    /*box-shadow: 0px 0px 0px 0px black;*/
    /*box-shadow:0px 10px 25px rgba(0,0,0,0.5);*/
    box-shadow:0px 0px 45px rgba(0,0,0,0.8);
    transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    /* IE 9 */
    -webkit-transform: scale(1.08, 1.08);
    /* Safari 和 Chrome */
    -o-transform: scale(1.08, 1.08);
    /* Opera */
    -moz-transform: scale(1.08, 1.08);
    z-index: 2;
}
.coocaabtn .blockimg{
    margin: 12px;
}
.coocaabtn.block:nth-child(1) .blockimg{
    margin-left: 12px;
}
#blackBg {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 3;
}
.window{
    display: none;
    width: 1280px;
    height:720px;
    position: absolute;
    top:0;
    left:0;
    z-index: 4;
}
#indexWindow{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/window.png");
}
#finishMissionWindow{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/finishMissionWindow.png");
}
#addchanceaftermission{
    position: absolute;
    top:423px;
    left:905px;
    font-size: 54px;
    font-weight: bolder;
    color: #6d1ed8;
    line-height: 54px;
    width: 60px;
    text-align: center;
}
#lastDayWindow{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/lastDayWindow1.png");
}
#dealFinishWindow{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/dealFinishWindow.png");
}
.homewindowbtn{
    width: 213px;
    height: 80px;
    position: absolute;
    top:603px;
}
#dealbtn1{
    left: 718px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/dealbtn1.png");
}
#dealbtn2{
    left: 987px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/dealbtn2.png");
}
#dealbtn1.btnFocus{
    left: 718px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/dealbtn1focus.png");
}
#dealbtn2.btnFocus{
    left: 987px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/dealbtn2focus.png");
}

#compoundWindow{
    width: 1280px;
    height: 720px;
    position: absolute;
    top:0;
    left:0;
    background-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/compoundWindow2.png");
}
#compoundWindowImg{
    width: 173px;
    height:233px;
    position: absolute;
    top:393px;
    left:727px;
    background-size: 100%;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca2/newf0.png");
}
#compoundWindowCode{
    width: 180px;
    height:180px;
    position: absolute;
    top: 409px;
    left:1000px;
    background-size: 100%;
    background-image:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/finalcompoundWindowCode.png");
}
#compoundbtn1{
    top:686px;
    left: 709px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/compoundbtn1.png");
}
#compoundbtn2{
    top:686px;
    left: 999px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/compoundbtn2.png");
}
#compoundbtn1.btnFocus{
    top:686px;
    left: 709px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/compoundbtn1focus.png");
}
#compoundbtn2.btnFocus{
    top:686px;
    left: 999px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/compoundbtn2focus.png");
}



.finishwindow{
    width: 1280px;
    height: 720px;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
    /*display: none;*/
}
#enjoyAwardWindow{
    display: none;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/enjoyAwardWindow.png");
}
#enjoyAwardWindowWord{
    width: 200px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    color: #fedd7e;
    position: absolute;
    top:450px;
    left: 855px;
    text-align: center;
}
#getAwardWindow{
    display: none;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/getAwardWindow.png");
}
#getAwardWindowCode{
    width: 200px;
    height: 200px;
    position: absolute;
    /*border: 1px solid;*/
    top: 396px;
    left: 860px;
}
#getAwardWindowWord{
    font-weight: bolder;
    font-size: 44px;
    line-height: 44px;
    color: #9f22e8;
    text-align: center;
    position: absolute;
    top: 312px;
    left: 1115px;
    height: 44px;
    width: 89px;
}
#compound{  }
.fbox{
    width: 149px;
    height:181px;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    background-size: 100%;
}
#b1{
    top: 131px;
    left: 879px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f1.png");*/
}
#b2{
    top: 180px;
    left: 665px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f2.png");*/
}
#b3{
    top: 180px;
    left: 1094px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f3.png");*/
}
#b4{
    top: 372px;
    left: 523px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f4.png");*/
}
#b5{
    top: 372px;
    left: 1249px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f5.png");*/
}
#b6{
    top: 590px;
    left: 588px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f6.png");*/
}
#b7{
    top: 590px;
    left: 1181px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f7.png");*/
}
#b8{
    top: 765px;
    left: 766px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f8.png");*/
}
#b9{
    top: 765px;
    left: 1005px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/f9.png");*/
}
#b10{
    top: 255px;
    left: 634px;
    display: none;
    width: 653px;
    height: 631px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/foca/foca1/fff0.png");*/
}





img[src='']{
    visibility: hidden;
}
.pagesboxes,.fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
.pagesboxes,.fullscreen{
    display: none;
    background-repeat: no-repeat;
    background-size: 100%;
}



#allowanceRulePage{
    background-color: rgba(0,0,0,0.6);
}
#whatisallowance{
    position: absolute;
    top: 27px;
    right: 74px;
    height: 65px;
    width: 293px;
}
#allowanceRuleDialog{
    position: absolute;
    top: 0;
    left: 0;
    height: 720px;
    width: 1280px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#allowanceRuleBtn{
    position: absolute;
    bottom: 266px;
    left: 833px;
    height: 69px;
    width: 211px;
}
#allowanceValueBox{
    position: absolute;
    top: 43px;
    left: 66px;
    height: 66px;
    width: 377px;
}


#allowanceValueBox{
    position: absolute;
    top: 43px;
    left: 66px;
    height: 66px;
    width: 377px;
}

#allowanceValue{
    position: absolute;
    top: 52px;
    left: 290px;
    height: 40px;
    width: 120px;
    color: #ffd973;
    font-size: 32px;
    text-align: center;
    line-height: 36px;
}
#allowanceLogin{
    position: absolute;
    top: 40px;
    left: 63px;
    height: 69px;
    width: 588px;
}
#allowanceItemBox{
    position: absolute;
    top: 280px;
    left: 47px;
    height: 750px;
    width: 1826px;
    overflow: hidden;
}
.allowanceItemLi{
    position: absolute;
    height: 436px;
    width: 385px;
}
.imgBlur,.imgFocus{
    height: 100%;
    width: 100%;
    display: none;
}
.imgBlur{
    display: block;
}
.btn-focus .imgBlur{
    display: none;
}
.btn-focus .imgFocus{
    display: block;
}

.imgBlur2,.imgFocus2{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}
.imgFocus2{
    display: none;
}
.btn-focus .imgFocus2{
    display: block;
}


.allowanceInfo1,.allowanceInfo2{
    position: absolute;
    top: 42px;
    left: 80px;
    height: 36px;
    width: 222px;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    color: #f8ff2f;
    letter-spacing: 2px;
}
#myAwardBox{
    position: absolute;
    top: 267px;
    left: 189px;
    height: 840px;
    width: 1570px;
    overflow: hidden;
}
#noAwardBox1{
    position: absolute;
    top: 0;
    left: 0;
    height: 720px;
    width: 1280px;
}
#myAwardPage{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/720/award/bg2.png");
}
#noAwardBox2{
    position: absolute;
    top: 643px;
    left: 600px;
    height: 60px;
    width: 720px;
    line-height: 60px;
    font-size: 36px;
    color: #ac855e;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
}
.awardTabBox{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    display: none;
}
.awardTabName{
    display: inline-block;
    margin-left: 20px;
    width: 70px;
    height: 223px;
    float: left;
    background-repeat: no-repeat;
    background-size: 100%;
}
.awardTabs{
    display: inline-block;
    width: 1465px;
    float: right;
    overflow: hidden;
}
.myAwards{
    position: relative;
    display: inline-block;
    height: 241px;
    width: 438px;
    margin-right: 30px;
    margin-left: 15px;
}
.fullImg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.awardMoney{
    position: absolute;
    top: 62px;
    right: 225px;
    height: 65px;
    width: 240px;
    text-align: right;
    font-size: 42px;
    color: #f7d7ae;
    bottom: 0px;
}
.awardMoney1,.awardMoney2,#redMoneyHasGot{
    top: 72px;
    right: 167px;
    color: #f9de85;
}
.awardMoney2{
    color: #b74820;
}
#redMoneyHasGot{
    color:#f7d7ae;
}
#redMoneyHasGot{
    color: #f7d7ae;
}
.entityImg{
    position: absolute;
    top: 43px;
    left: 230px;
    height: 129px;
    width: 153px;
}
.entityName{
    position: absolute;
    top: 49px;
    left: 42px;
    height: 90px;
    width: 180px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    font-weight: 900;
    color: #f7d7ae;
}
.entitySon{
    color: #f7d7ae;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.thirdMoney{
    position: absolute;
    top: 80px;
    right: 170px;
    height: 65px;
    width: 180px;
    text-align: right;
    font-size: 42px;
    color: #f7d7ae;
    bottom: 0px;
}
/*弹窗部分*/
#dialogPage{
    background-color: rgba(0,0,0,0.8);
}
.awardbg{
    position: absolute;
    top: 0;
    left: 0;
    height: 720px;
    width: 1280px;
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/lxw/award/award.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#redInfo1{
    position: absolute;
    height: 50px;
    width: 365px;
    top: 343px;
    left: 630px;
    font-size: 34px;
    color: #fa440d;
    text-align: center;
    font-weight: 900;
}
#redStrongPart{
    display: inline-block;
    width: 146px;
    height: 39px;
    font-size: 32px;
    line-height: 39px;
    color: #fffadb;
    border-radius: 5px;
    background-color: red;
    margin: 0 3px;
}
#redContent{
    position: absolute;
    height: 100px;
    width: 365px;
    top: 425px;
    left: 630px;
    line-height: 100px;
    text-align: center;
    font-size: 46px;
    bottom: 0px;
    color: #fa3f07;
    font-weight: 900;
}
#redInfo2{
    position: absolute;
    height: 32px;
    width: 301px;
    top: 570px;
    left: 663px;
}
#redQrcode{
    position: absolute;
    height: 260px;
    width: 260px;
    top: 348px;
    left: 1002px;
    border: 10px solid white;
}
#redHasGetInfo{
    position: absolute;
    height: 265px;
    width: 721px;
    top: 280px;
    left: 600px;
}
#redHasGetNum{
    position: absolute;
    top: 58px;
    left: 410px;
    height: 70px;
    width: 285px;
    font-size: 42px;
    line-height: 70px;
    font-weight: 900;
    color: #FA3F07;
}
#redHasGetBtn{
    position: absolute;
    height: 66px;
    width: 228px;
    top: 566px;
    left: 845px;
}
.line{
    position: absolute;
    top: 450px;
    color: white;
    height: 1px;
    left: 689px;
    width: 538px;
    font-size: 18px;
    overflow: hidden;
    border-bottom: 1px dashed #fec65a;
}
#otherInfo1,#hasGotInfo1{
    position: absolute;
    height: 54px;
    width: 566px;
    top: 325px;
    left: 690px;
    font-size: 46px;
    line-height: 54px;
    font-weight: 600;
    color: #FA440D;
}
#otherInfo2,#hasGotInfo2{
    position: absolute;
    height: 30px;
    width: 560px;
    top: 400px;
    left: 690px;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    color: #FA440D;
}
#otherInfo3{
    position: absolute;
    top: 470px;
    left: 675px;
    height: 165px;
    width: 315px;
    line-height: 46px;
    font-size: 26px;
    color: #711100;
    font-weight: 600;
}
.otherAwardVar{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0px 15px;
    width: 170px;
    line-height: 43px;
    border-radius: 20px;
    text-align: center;
    color: #FFFADB;
    background-color: #911601;
}
#otherQrcode{
    position: absolute;
    height: 180px;
    width: 180px;
    top: 449px;
    left: 1017px;
    border: 10px solid white;
}
#otherQrcodeImg{
    position: absolute;
    height: 180px;
    width: 180px;
    top: 449px;
    left: 1017px;
}

#hasGotInfo3,#hasGotInfo4,#hasGotInfo5,#hasGotInfo6{
    position: absolute;
    top: 465px;
    left: 680px;
    height: 46px;
    width: 580px;
    line-height: 40px;
    font-size: 28px;
    color: #711100;
    font-weight: 600;
    letter-spacing: 2px;
}
#hasGotInfo4{
    top: 510px;
}
#hasGotInfo5{
    top: 555px;
    height: 82px;
    overflow: hidden;
}
#hasGotInfo6{
    top: 565px;
    font-size: 26px;
    line-height: 34px;
}
#gotolottery,#myAward{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 100px;
    width: 200px;
    font-size: 32px;
    text-align: center;
    line-height: 100px;
    background-color: red;
}
#myAward{
    top: 300px;
}
.awardbg2{
    position: absolute;
    top: 182px;
    left: 463px;
    height: 600px;
    width: 1040px;
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/lxw/foca/dialogbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.awardbg3,.awardbg4,.awardbg5{
    position: absolute;
    top: 181px;
    left: 475px;
    height: 589px;
    width: 1012px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.awardbg5{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/lxw/foca/flipcard2.png);
}
.awardbg3{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/lxw/foca/discards.png);
}
.awardbg4{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/lxw/foca/flipcard.png);
}
.dialogbtn{
    position: absolute;
    height: 80px;
    width: 213px;
}
.btnName{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    font-size: 26px;
}
#noChanceImg,#detainImg{
    position: absolute;
    top: 140px;
    left: 257px;
    height: 173px;
    width: 470px;
}
#noChanceBtn,#detainBtn1,#detainBtn2,#otherBtn1,#otherBtn2{
    top: 420px;
    left: 385px;
}
#detainBtn1{
    left: 250px;
}
#detainBtn2{
    left: 522px;
}
#focaImg{
    position: absolute;
    top: 87px;
    left: 364px;
    height: 300px;
    width: 223px;
    transition: all 3s;
    backface-visibility: visible;
    backface-visibility:visible;
    -webkit-backface-visibility:visible;
    -moz-backface-visibility:visible;
    -ms-backface-visibility:visible;
    background-repeat: no-repeat;
    background-size: 100%;
}
#otherAwardName1,#otherAwardName2{
    position: absolute;
    top: 95px;
    left: 300px;
    height: 38px;
    width: 360px;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    color: #9a0000;
    font-weight: 600;
}
#otherBtn1{
    left: 240px;
}
#otherBtn2{
    left: 510px;
}
#otherAwardInfo1,#otherAwardInfo2{
    position: absolute;
    top: 494px;
    left: 316px;
    height: 30px;
    width: 340px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #9d8947;
    font-weight: 600;
}
#otherImgBox1{
    position: absolute;
    top: 163px;
    left: 247px;
    height: 241px;
    width: 468px;
}
#redAwardNum,#allAwardNum{
    position: absolute;
    top: 96px;
    left: 70px;
    height: 60px;
    width: 159px;
    color: #fedd7e;
    font-size: 48px;
    font-weight: 600;
    text-align: right;
}
#allAwardNum{
    top: 90px;
    left: 42px;
    height: 80px;
    width: 160px;
    text-align: center;
    line-height: 80px;
    font-size: 74px;
    color: #fed39e;
    font-weight: 900;
}
#entityAwardName{
    position: absolute;
    top: 60px;
    left: 55px;
    height: 120px;
    width: 190px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #f7d7ae;
    font-weight: 900;

}
#otherImgBox2{
    position: absolute;
    top: 179px;
    left: 229px;
    height: 286px;
    width: 502px;
}
#otherImgBox3{
    position: absolute;
    top: 90px;
    left: 128px;
    height: 376px;
    width: 704px;
}
#entityAwardImg{
    position: absolute;
    top: 56px;
    left: 245px;
    height: 129px;
    width: 153px;
    border-radius: 10px;
}
#otherAwardInfo2{
    top: 485px;
    font-size: 26px;
}
#thirdAwardImg{
    position: absolute;
    top: 61px;
    left: 151px;
    height: 200px;
    width: 200px;
}
.none{
    display: none;
}
.imgstyle{
    background-repeat: no-repeat;
    background-size: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    padding-left: 0px;
    border-radius: 0px;
    border: solid 1px rgba(255,255,255,0);
    background-color: rgba(255, 255, 255, 0);
}
#sendPrizeFail{
    position: absolute;
    top: 864px;
    left: 720px;
    height: 60px;
    width: 500px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    display: none;
}


















