@charset "utf-8";
body {
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
    background-size: 100%;
}
#blackbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 22;
}
#deviceready{
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    /*background: url('http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/bg.jpg');*/
}
#mainbox{
    width: 1280px;
    position: absolute;
    top:0px;
    left:0px;
    /*display: none;*/

    /*transition:all 0.2s;*/
    /*-moz-transition:all 0.2s;*/
    /*-webkit-transition:all 0.2s;*/
}
#adStation{
    position: absolute;
    top: 0px;
    left: 32px;
    width: 202px;
    height: 66px;
    background-size: 100%;
}
#topMain{
    width: 1280px;
    height: 60px;
    position: absolute;
    top:0;
    left:0;
    text-align: right;
    z-index: 2;
}
.topbtn{
    height: 60px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
#allowanceBtn{
    width: 214px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/allowance.png");
}
#myAwardBtn{
    width: 130px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/award.png");
}
#ruleBtn{
    width: 130px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/rule.png");
}
.topbtn img{
    display: none;
}
.btnFocus.topbtn img{
    display: block;
}
#gameBox{
    width: 1280px;
    height: 667px;
    overflow: hidden;
    position: relative;
    top:0px;
    left: 0;
    z-index: 1;
}
#gamePanel{
    height:667px;
    width: 3000px;
    position: absolute;
    left: 0;
    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#gameMap{
    width: 1280px;
    height: 667px;
    position: absolute;
    left:0;
    /*display: none;*/
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/mapbg.jpg");
}
.lc{
    height: 11px;
    font-size: 11px;
    color: #dfe3c1;
    line-height: 11px;
    text-align: center;
    width: 27px;
    position: absolute;
    top: 212px;
    left: 949px;
}
.lc1{
    left:1000px;
}
.lc8{
    left:1051px;
}
#tips .tiplc418{
    width: 21px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #fed12c;
    text-align: center;
    position: absolute;
    top: 157px;
    left: 123px;
}
#gameMap .lc418{
    width: 50px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #4ea43e;
    text-align: center;
    position: absolute;
    top: 156px;
    left: 986px;
}

#mapBtn{
    width: 251px;
    height:86px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/dicebtn.png");
    position: absolute;
    top: 435px;
    left:464px;
}
#mapBtn img{display: none;}
#mapBtn.btnFocus{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/dicebtnfocus.png");
}
#mapChance{
    position: absolute;
    top:424px;
    left:552px;
    font-size: 11px;
    color: #cdf2ab;
}
.map{
    width: 71px;
    height: 111px;
    /*border: 1px solid;*/
    position: absolute;
}
#map0{left: 36px;top:268px;}
#map1{left: 155px;top:196px;}
#map2{left: 320px;top:204px;}
#map3{left: 482px;top:186px;}
#map4{left: 645px;top:187px;}
#map5{left: 806px;top:198px;}
#map6{left: 969px;top:230px;}
#map7{left: 962px;top:313px;}
#map8{left: 906px;top:388px;}
#map9{left: 791px;top:453px;}
#map10{left: 633px;top:495px;}
#map11{left: 425px;top:488px;}
#map12{left: 231px;top:472px;}
#map13{left: 112px;top:408px;}
#map14{left: 91px;top:315px;}
#map15{left: 267px;top:321px;}
.map.focus{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/fox.png");
}
#tips{
    width: 222px;
    height:190px;
    position: absolute;
    top:321px;
    left:1056px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/waiting.png");
}
#gameDraw{
    width: 1280px;
    height: 667px;
    position: absolute;
    left: 1280px;
    display: none;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/drawbg.jpg");
}
#drawBtn{
    width: 89px;
    height: 142px;
    position: absolute;
    top: 469px;
    left:668px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/nn.png");
}
#drawBtnBorder{
    width: 108px;
    height: 159px;
    position: absolute;
    top: 461px;
    left:659px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/nnborder.png");
}
#drawDoor{
    width: 97px;
    height: 108px;
    position: absolute;
    top: 513px;
    left:489px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/M.png");
}
#tips1{
    width: 222px;
    height: 89px;
    position: absolute;
    top: 231px;
    left:32px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/tips1.png");
}
#tips2{
    width: 222px;
    height: 89px;
    position: absolute;
    top: 326px;
    left:32px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/tips2.png");
}
#bottom{
    width: 1280px;
    height:1216px;
    position: relative;
    top:-1px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/bgbottom.jpg");
}
#missionListTitle{
    width: 1280px;
    height: 24px;
    position: relative;
    top:7px;
    left:35px;
    font-size: 24px;
    line-height: 24px;
    color: #fef9ab;
}
#missionList{
    width: 1280px;
    height: 200px;
    position: relative;
    top:10px;
    font-size: 0;
}
#payZoneTitle{
    width: 1280px;
    height: 24px;
    position: relative;
    top:22px;
    left:35px;
    font-size: 24px;
    line-height: 24px;
    color: #fef9ab;
}
.mission{
    font-size: 13px;
    display: inline-block;
    width: 277px;
    height: 163px;
    padding: 6px;
    background-color: white;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 10px;
}
.mission:nth-child(1){
    margin-left: 35px;
}
#payZone{
    width: 1280px;
    /*height:600px;*/
    position: relative;
    top:38px;
    font-size: 0;
}
.operationmap {
    width: 247px;
    height: 258px;
    padding: 6px;
    display: inline-block;
    margin-right: 22px;
    margin-left: 35px;
    margin-bottom: 28px;
    background-size: 100%;
}

#allowanceGet {
    background: white;
    width: 564px;
    height: 258px;
    padding: 6px;
    display: inline-block;
    margin-right: 22px;
    margin-left: 35px;
    margin-bottom: 28px;
}

#questionbox{
    width: 840px;
    height: 500px;
    background-color: #666;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    display: none;
}
#ques{
    width: 600px;
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    text-align: center;
    font-size: 26px;
}
.answerbtn,.answerResultbtn{
    width:200px;
    height:50px;
    background-color: cornflowerblue;
    line-height: 50px;
    text-align: center;
}
#answer1{
    position: absolute;
    bottom:200px;
    left:150px;
}
#answer2{
    position: absolute;
    bottom:200px;
    left:500px;
}
#answer3{
    position: absolute;
    bottom:100px;
    left:320px;
}
#answer4{
    position: absolute;
    bottom:200px;
    left:150px;
    display: none;
}
#answer5{
    position: absolute;
    bottom:200px;
    left:500px;
    display: none;
}
#answer6{
    position: absolute;
    bottom:200px;
    left:500px;
    display: none;
}
#questionbox .btnFocus{background-color: red}






.dice-icon-1 {
    position: absolute;
    top: 280px;
    left: 515px;
    width: 150px;
    height: 150px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/418/main/newdice.png") no-repeat 0px -1350px;
    z-index: 9;
}

.dice-icon-1.dice_aime {
    background-position: 0px -1200px
}

.dice-icon-1.dice_aims {
    background-position: 0px -1050px
}

.dice-icon-1.dice_aimt {
    background-position: 0px -900px
}
.dice-icon-1.dice_aim1{background-position:0px 0px}
.dice-icon-1.dice_aim2{background-position:0px -150px}
 .dice-icon-1.dice_aim3{background-position:0px -300px}
.dice-icon-1.dice_aim4{background-position:0px -450px}
.dice-icon-1.dice_aim5{background-position:0px -600px}
.dice-icon-1.dice_aim6{background-position:0px -750px}




#bottom .btnFocus{
    padding: 0;
    border: 6px solid #64ff46;
    transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    /* IE 9 */
    -webkit-transform: scale(1.08, 1.08);
    /* Safari 和 Chrome */
    -o-transform: scale(1.08, 1.08);
    /* Opera */
    -moz-transform: scale(1.08, 1.08);
}

#rulePage{
    width:1280px;
    height:720px;
    overflow: hidden;
    display: none;
}
#ruleInner{
    width: 1280px;
    height: 720px;
    position: absolute;
    top:0px;
    left:0px;
    overflow: auto;
}
.rule{
    width: 1280px;
    background-size: 100%;
}
#needUpdate{
    width: 1280px;
    height:720px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: none;
    z-index: 5;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/needup.png");*/
}
#normalToast{
    width: 1280px;
    height:50px;
    position: absolute;
    bottom: 100px;
    text-align: center;
    z-index: 999;
    display: none;
}
#normalToast span{
    background-color: #666666;
    font-size: 46px;
    line-height: 50px;
    height: 50px;
}

@keyframes myfirst1
{
    0%   {opacity:1;top:484px;display: none;}
    1%   {opacity:1;top:484px;display: block;}
    25%  {opacity:0.4;top:469px; display: block;}
    50%  {opacity:0.3;top:454px; display: block;}
    75%  {opacity:0.2;top:439px; display: block;}
    100% {opacity:0.1;top:424px;display: none}
}
@-webkit-keyframes myfirst1
{
    0%   {opacity:1;top:484px;display: none;}
    1%   {opacity:1;top:484px;display: block;}
    25%  {opacity:0.4;top:469px; display: block;}
    50%  {opacity:0.3;top:454px; display: block;}
    75%  {opacity:0.2;top:439px; display: block;}
    100% {opacity:0.1;top:424px;display: none}
}

/*.coocaabtn.btnFocus:not(.topbtn):not(.banner):not(.finishWindowBtn){*/
    /*border: 4px solid #d900ff;*/
    /*!*border-image-source:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border.png");*!*/
    /*!*border-image-slice:8;*!*/
    /*!*border-image-width:2;*!*/
    /*!*border-image-repeat:round;*!*/
    /*-webkit-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Safari 5 *!*/
    /*-o-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Opera *!*/
    /*-ms-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Opera *!*/
    /*-moz-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round; !* Opera *!*/
    /*border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/index/border1.png") 8 /2 round;*/

    /*background-size: 100%;*/

    /*padding: 0px;*/
    /*opacity: 1;*/
    /*!*box-shadow: 0px 0px 0px 0px black;*!*/
    /*!*box-shadow:0px 10px 25px rgba(0,0,0,0.5);*!*/
    /*box-shadow:0px 0px 45px rgba(0,0,0,0.8);*/
    /*transform: scale(1.08, 1.08);*/
    /*-ms-transform: scale(1.08, 1.08);*/
    /*!* IE 9 *!*/
    /*-webkit-transform: scale(1.08, 1.08);*/
    /*!* Safari 和 Chrome *!*/
    /*-o-transform: scale(1.08, 1.08);*/
    /*!* Opera *!*/
    /*-moz-transform: scale(1.08, 1.08);*/
    /*z-index: 2;*/
/*}*/


img[src='']{
    visibility: hidden;
}












